/* Dark mode colors. */
/*
:root {
	--sl-color-accent-low: #131e4f;
	--sl-color-accent: #3447ff;
	--sl-color-accent-high: #b3c7ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}
*/

:root {
    /* Colores de tu paleta */
    --sl-color-primary-dark: #1a2434; /* Azul oscuro */
    --sl-color-primary: #223E92; /* Azul brillante */
    --sl-color-accent: #08959c; /* Verde azulado claro */
    --sl-color-gray-light: #B9B9B9; /* Gris claro */

    /* Colores adicionales de tu configuración */
    --sl-color-accent-low: #000000;    
    --sl-color-accent: #223e93;    
    --sl-color-accent-high: #ffffff;    
    --sl-color-white: #ffffff;     
    --sl-color-gray-1: #eceef2;    
    --sl-color-gray-2: #c0c2c7;    
    --sl-color-gray-3: #888b96;    
    --sl-color-gray-4: #545861;    
    --sl-color-gray-5: #353841;    
    --sl-color-gray-6: #24272f;    
    --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #223e92; /* Color azul oscuro */
	--sl-color-accent: #223e93; /* Color azul oscuro ligeramente más claro */
	--sl-color-accent-high: #234198; /* Color azul oscuro con un toque más claro */
	--sl-color-white: #000000; /* Negro */
	--sl-color-gray-1: #233f95; /* Otro tono de azul oscuro */
	--sl-color-gray-2: #353841; 
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}  